/* src/views/SignupPage.css */

.signup-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.signup-page-content {
    max-width: 500px;
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signup-page-content h2 {
    margin-bottom: 20px;
    text-align: center;
}