/* Global Styles (in your index.css or App.css) */
html,
body,
#root {
  height: 100%;
  margin: 0;
}

body>div {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Adjustments to Header.css and Footer.css remain the same */